{% extends 'base.html' %}
{% load static %}
{% block title_block %} Password reset {% endblock %}

{% block body_block %}
<div class="section">
			<!-- container -->
		<div class="section">
			<!-- container -->
			<div class="container">
                <h2>Reset your password </h2>
                <p>We have emailed you instruction for setting your password .</p>
                <p>If you don't receive an email, Please make sure you've entered the email you registered with  .</p>
            </div>
        </div>
</div>
{% endblock  %}
